# Programming Language Overview

Python, created by Guido van Rossum and released in 1991, is renowned for its simplicity and readability, making it a popular choice for beginners and experts alike. It's a versatile language used in various fields, from web development to data science and artificial intelligence. Python's design philosophy emphasizes code readability with its notable use of significant whitespace. This guide explores the key aspects of Python, from its basic syntax to more advanced features, providing detailed explanations and code examples.

# Instruction
In this laboratory activity, you need to answer the following exercises. Submit your output in `.ipynb` format, following the naming convention, `<Lastname>_Python_Basics_and_Exercises.ipynb`, example, `Aleluya_Python_Basics_and_Exercises.ipynb`. Submission bin is in MOLE. Failure to submit on or before the due date will result into a score of `zero`.

# Reminders
Make sure that you understand the lessons. Do not just copy answers from any AI prompts. Your instructor will give you oral assessment if you failed to show integrity.

# Outline
The following topics in Python programming will be covered.
1.   Operators (Arithmetic, Assignment, Bitwise)
2.   Strings
3.   Type Casting
4.   Built-in Functions
5.   Selection Structures
6.   Iterative Structures
7.   Lists
8.   Tuples
9.   Sets
10.  Dictionaries
11.  Functions

---

# 1. Operators

## Multiplication at Three
Write a program that takes in three inputs, x, y, and z, and prints their product when they are all multiplied by each other.


Sample output:
```
Enter x: 10
Enter y: 55
Enter z: 44
Product: 24200

```

In [ ]:
# insert your code for Multiplication at Three

## Square Me
Write a program that takes a number as input from the user and prints its squared value.

Sample output:
```
Enter number: 2
Square: 4
```

In [ ]:
# insert your code for Square Me

## Eat the Big
Write a program that accepts three integer inputs, x, y, and z, and prints the result when x is subtracted by y and z.

Sample output:
```
Enter x: 25
Enter y: 10
Enter z: 5
Difference: 10
```

In [ ]:
# insert your code for Eat the Big

## Inverse Instructions
Write a program that asks for four float numbers, a, b, c, and d. Add a and b and assign the value to a, and also, add c and d and assign to c. Multiply a by c and assign them to a variable called `result`. Print the `result` in two decimal places.

Sample Output:
```
Enter the value of a: 1
Enter the value of b: 2
Enter the value of c: 3
Enter the value of d: 4
Result: 21.00
```

In [ ]:
# insert your code for Inverse Instructions

## AND and OR

Write a program that asks for three integers, x, y, and z. Use the AND operator on x and y and then, use the OR operator on z and the result of x AND y.

Sample output:
```
Enter x: 12
Enter y: 25
Enter z: 6
Result: 14
```

In [ ]:
# insert your code for AND and OR

# 2. Strings

## Foods for Life!

Write a program that asks for three string inputs, `food1`, `food2`, and `food3`. After asking for input, print in the format: `"My favorite foods are {food1}, {food2}, {food3}, and more!"`

Sample output:
```
Enter your favorite food 1: Pizza
Enter your favorite food 2: Burger
Enter your favorite food 3: Pasta
My favorite foods are Pizza, Burger, Pasta, and more!
```

In [ ]:
# insert your code for Foods for Life!

## Tech Gadget Wishlist
Write a program that asks for four tech gadgets on your wishlist. Print a message like: `"On my tech wishlist: {gadget1}, {gadget2}, {gadget3}, and {gadget4}."`

```
Enter the name of the first tech gadget on your wishlist: Laptop
Enter the name of the second tech gadget on your wishlist: Phone
Enter the name of the third tech gadget on your wishlist: Camera
Enter the name of the fourth tech gadget on your wishlist: Headphones
On my tech wishlist: Laptop, Phone, Camera, and Headphones.
```

In [ ]:
# insert your code for Tech Gadget Wishlist

# 3. Type Casting

## Character to ASCII
Write a program that takes a character and take its ASCII integer value. Finally, print the result in format `"The ASCII value of {char} is {value}.".`

```
Enter a character: A
The ASCII value of A is 65.
```

In [ ]:
# insert your code for Character to ASCII

## Numeric String Concatenation
Write a program that takes two numeric strings as input, concatenates them, and converts them into integers. Finally, add the two numeric strings to the concatenated value, and returns the result. For example, 2 and 3 -> 23 + 2 + 3 = 28. Finally, print the result in format `"Result: {result}".`

Sample output:
```
Enter the first numeric string: 2
Enter the second numeric string: 3
Result: 28
```

In [ ]:
# insert your code for Numeric String Concatenation

## Greater Character
Write a program that asks for two character inputs. Get which character is greater and print the result in format `"The greater character is: {result}".`

Sample output:
```
Enter the first character: 0
Enter the second character: }
The greater character is: }
```

In [ ]:
# insert your code for Greater Character

# 4. Built-in Functions

## Area of Hexagon
Write a program that prompts the user to enter the length of the side of a regular hexagon. The program should use the predefined math functions to calculate the area of the hexagon using the entered side length. Finally, the program should print the calculated area of the hexagon in two decimal places.

The formula to get area of hexagon is,
<br>$A = \dfrac{3\sqrt{3}}{2} a^2$

Sample output:
```
Enter side: 5
Area of hexagon: 64.95
```

In [ ]:
# insert your code for Area of Hexagon

## Volume of a Bottle
Write a program that prompts the user to enter the dimensions of a bottle - the neck radius, neck height, base radius, and base height. The program should use the predefined math functions to calculate the volume of the bottle using the entered dimensions. Finally, the program should print the calculated volume of the bottle.

Volume of a bottle formula:
<br>
$V= \dfrac{1}{3} \pi h_2 ( a^2 + a b + b^2 ) + \pi b^2 h_1 $


*   $a$ is neck radius
*   $b$ is base radius
*   $h_1$ is base height
*   $h_2$ is neck height

Sample Output:
```
Enter Neck Radius: 4.5
Enter Neck Height: 5.5
Enter Base Radius: 6.5
Enter Base Height: 7.5
Volume of Bottle: 1523.93
```

In [ ]:
# insert your code for Volume of a Bottle

## Volume of a Pyramid (polygon base)
Write a program that prompts the user to enter the number of sides, side length, and height of a pyramid. The program should use the predefined math functions to calculate the volume of the pyramid using the entered values. Finally, the program should print the calculated volume of the pyramid.

Volume of pyramid formula:
$V = \dfrac{1}{3} h ( \dfrac{1}{4} b^2 \dfrac{cos(\dfrac{\pi}{n})}{sin(\dfrac{\pi}{n})} )$



*   $n$ is number of sides
*   $b$ is side length
*   $h$ is height

Sample output:
```
Enter number of sides: 3.5
Enter side length: 4.5
Enter height: 5.5
Volume of Pyramid: 7.40
```

In [ ]:
# insert your code for Volume of Pyramid (polygon base)

## String Concatenation
Create a program that asks the user to enter two strings. Use the predefined string function to concatenate the two strings and print the result.

Sample output:
```
Enter the first string: Hello
Enter the second string: World
Concatenated string: HelloWorld
```

In [ ]:
# insert your code for String Concatenation

## String Length Calculator
Write a program that asks the user to enter a string. Use the predefined string function to calculate and print the length of the string.

Sample output:
```
Enter a string: programming
Length of the string: 11
```

In [ ]:
# insert your code for String Length Calculator

# 5. Selection Structures

## Billing It Is
Write a program that takes a floating-point number bill as input, representing the total bill amount. It checks the eligibility for a discount based on the bill amount. If the bill is greater than or equal to 100, it prints "You are eligible for a 10% discount." If the bill is greater than or equal to 50 but less than 100, it prints "You are eligible for a 5% discount." If neither condition is met, it does nothing.

Sample Output:
```
Enter your total bill: 150
You are eligible for a 10% discount.
```

In [ ]:
# insert your code for Billing It Is

## Palindromic Number
Write a program that takes an integer number as input, and it is always in 4-digits, and check if it is a palindrome. A palindrome is a number that remains the same when its digits are reversed. If the number is a palindrome, print "The number is a palindrome.". Otherwise, it does nothing.

Sample output 1:
```
Enter a number: 1111
The number is a palindrome.
```
Sample output 2:
```
Enter a number: 3223
The number is a palindrome.
```
Sample output 3:
```
Enter a number: 4225
```

In [ ]:
# insert your code for Palindromic Number

## Driver's License Please
Write a program that takes two parameters, `age` (an integer) and `hasLicense` (a character), and check if a person is eligible to drive. To be eligible, the person must be 18 years or older and have a valid driver's license, indicated by `'Y'` or `'y'` for hasLicense. If eligible, print `"You can drive."` Otherwise, print `"You cannot drive."`

Sample output 1:
```
Enter your age: 17
Do you have a driver's license? (Y/N): N
You cannot drive.
```
Sample output 2:
```
Enter your age: 18
Do you have a driver's license? (Y/N): Y
You can drive.
```
Sample output 3:
```
Enter your age: 64
Do you have a driver's license? (Y/N): Y
You can drive.
```

In [ ]:
# insert your code for Driver's License Please

## ASCII vs Number

Write a program that takes two parameters, character and number. Compare the ASCII value of the character with the given number.

If the ASCII value of the character is greater than the number, print "ASCII wins." Otherwise, print "Number wins."

Sample output 1:
```
Enter a character: 5
Enter a number: 5
ASCII wins
```
Sample output 2:
```
Enter a character: 4
Enter a number: a
ASCII wins
```
Sample output 3:
```
Enter a character: 7
Enter a number: 200
Number wins
```

In [ ]:
# insert your code for ASCII vs Number

## Voting Eligibility
Write a program that takes a person's age and citizenship status (citizen - 1 or non-citizen - 0) as input and determines whether they are eligible to vote based on the following conditions:

If the person is a citizen and 18 years or older, print `"You are eligible to vote".`
If the person is a non-citizen, print `"Only citizens are eligible to vote".`
If the person is younger than 18, print `"You must be 18 years or older to vote".`

Sample output 1:
```
Enter your age: 20
Are you a citizen? (Enter 1 for yes, 0 for no): 1
You are eligible to vote.
```
Sample output 2:
```
Enter your age: 17
Are you a citizen? (Enter 1 for yes, 0 for no): 1
You must be 18 years or older to vote.
```
Sample output 3:
```
Enter your age: 100
Are you a citizen? (Enter 1 for yes, 0 for no): 0
Only citizens are eligible to vote.
```

In [ ]:
# insert your code for Voting Eligibility

## BMI Calculator
Write a program that calculates and categorizes Body Mass Index (BMI) based on weight (in kilograms) and height (in meters).

Calculating BMI:

* The program should take two float inputs, `weight` (in kilograms) and `height` (in meters). Then, the program should calculate the BMI using the formula: `BMI = weight / (height * height)`

BMI Category:

* The program should then use the BMI value and print the BMI category based on the following criteria:
    *  If `bmi` is less than 18.5, print `"Underweight."`
    * If `bmi` is between 18.5 (inclusive) and 24.9 (inclusive), print `"Normal weight."`
    * If `bmi` is between 25 (inclusive) and 29.9 (inclusive), print `"Overweight."`
    * If `bmi` is greater than or equal to 30, print `"Obese."`


Sample output 1:
```
Enter weight (in kilograms): 84
Enter height (in meters): 1.7
Overweight
```
Sample output 2:
```
Enter weight (in kilograms): 75
Enter height (in meters): 1.76
Normal weight
```
Sample output 3:
```
Enter weight (in kilograms): 54
Enter height (in meters): 1.67
Normal weight
```

In [ ]:
# insert your code for BMI Calculator

## Housing Loan
Write a program that takes two inputs: a float `income` and an int `isMarried`. It should determine a person's eligibility for a loan based on the following rules and print the corresponding eligibility message:
* If `income` is less than or equal to 50000 and `isMarried is 1`, print `"Eligible for loan"`
* If `income` is less than or equal to 50000 but `isMarried` is 0, print `"Not eligible for loan"`
* If `income` is greater than 50000, print `"Eligible for housing loan"`

In [ ]:
# insert your code for Housing Loan

## Shapes

Write a program that takes an integer `numSides` as input. It should calculate and return the area of a geometric shape based on the following rules:

*   If `numSides` is 3, it should calculate the area of a triangle. It should prompt the user to enter the base and height of the triangle and calculate the area using the formula `0.5 * base * height`.

*   If `numSides` is 4, it should ask the user to choose between a rectangle or a square. If the user chooses a rectangle, it should prompt the user to enter the length and width of the rectangle and calculate the area as `length * width`. If the user chooses a square, it should prompt the user to enter the side length and calculate the area as `side * side`.

*  If `numSides` is 0, it should calculate the area of a circle. It should prompt the user to enter the radius of the circle and calculate the area using the formula `π * radius * radius`, where π is the mathematical constant pi (you can use the `M_PI` constant from the math library).

*   If `numSides` is any other value, it should print `"Invalid number of sides!".`

* Print the area in two decimal places in the format: `"The area of the shape is: {area}"`


Sample output 1:
```
Enter the number of sides: 3
Enter the base length of the triangle: 10
Enter the height of the triangle: 15
The area of the shape is: 75.00
```
Sample output 2:
```
Enter the number of sides: 4
Enter 1 for Rectangle or 2 for Square: 1
Enter the length of the rectangle: 20
Enter the width of the rectangle: 44
The area of the shape is: 880.00
```
Sample output 3:
```
Enter the number of sides: 4
Enter 1 for Rectangle or 2 for Square: 2
Enter the side length of the square: 45
The area of the shape is: 2025.00
```

In [ ]:
# insert your code for Shapes

# 6. Iterative Structures

## Fizz Buzz
Write a program that takes an integer `n`.

You are required to write a program that generates a sequence of numbers based on a given integer input. The program should use `while loop` to loop from 1 to the given integer, and for each number, it should apply the following conditions:

* If the number is divisible by 3, print `"Fizz"`
* If the number is divisible by 5, print `"Buzz"`
* If the number is divisible by both 3 and 5, print `"FizzBuzz"`
* If none of the above conditions are met, print the number itself

For instance, if the given integer input is 15, the program should generate the sequence: `1, 2, Fizz, 4, Buzz, Fizz, 7, 8, Fizz, Buzz, 11, Fizz, 13, 14, FizzBuzz.`

Sample output:
```
Enter a positive integer: 25
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
```

In [ ]:
# insert your code for Fizz Buzz

## Sum of Odd Numbers
Write a program that takes an integer number. Use a `while loop` to calculate the sum of all odd numbers from 1 to the entered number and print it.

Sample output 1:
```
Enter a positive integer: 15
Sum of odd numbers: 64
```
Sample output 2:
```
Enter a positive integer: 9
Sum of odd numbers: 25
```

In [ ]:
# insert your code for Sum of Odd Numbers

## Number Sequence with Conditional Printing
Write a program that takes an integer `n`. Use a `for loop` to generate a number sequence based on certain conditions and print the sequence accordingly. The program follows the rules below:

1. If a number is divisible by both 3 and 5, print the number multiplied by 3 on a new line.
2. If a number is divisible by 3, print the number multiplied by 3 followed by a space.
3. If a number is divisible by 5, print only a newline character.
4. For any other number, print the number followed by a space.

Sample output 1:
```
Enter a positive integer: 20
1 2 9 4
18 7 8 27
11 36 13 14 45
16 17 54 19
```
Sample output 2:
```
Enter a positive integer: 30
1 2 9 4
18 7 8 27
11 36 13 14 45
16 17 54 19
63 22 23 72
26 81 28 29 90
```

In [ ]:
# insert your code for Number Sequence with Conditional Printing

## Reverse of Digits
Write a program that takes an integer `n`. Using a `for loop`, get the reverse of the digits of the entered number and print it.

Sample output:
```
Enter a positive integer: 12345
Reverse of digits: 54321
```

In [ ]:
# insert your code for Reverse of Digits

## Raise the Flag
Write a program that takes an integer input `n` and prints a flag to the console made up of asterisks. The flag should have `n` rows and `2n` columns, with the top half of the flag being the same as the bottom half, except flipped horizontally.

Sample output 1:
```
Enter a number: 3
*    *
**  **
******
******
**  **
*    *
```
Sample output 2:
```
Enter a number: 10
*                  *
**                **
***              ***
****            ****
*****          *****
******        ******
*******      *******
********    ********
*********  *********
********************
********************
*********  *********
********    ********
*******      *******
******        ******
*****          *****
****            ****
***              ***
**                **
*                  *
```

In [ ]:
# insert your code for Raise the Flag

## Inverted Pyramid Pattern
Write a program that takes an integer `height` of the pyramid. Use `nested loops` to print an inverted pyramid pattern using asterisks (*) with the specified height.

Sample output:
```
Enter the height of the inverted pyramid: 5
*********
 *******
  *****
   ***
    *
```

In [ ]:
# insert your code for Inverted Pyramid Pattern

## Vowel Count with Break Statement
Write a program that takes a string which serves as the `word`. Count the number of vowels in the `word` using a loop. If the letter `'x'` or `'X'` is encountered, the program should stop counting and display the message `"Vowel count stopped!".`

Sample output 1:
```
Enter a word: codeXchum
Vowel count stopped!
Number of vowels: 2
```
Sample output 2:
```
Enter a word: helloworld!
Number of vowels: 3
```

In [ ]:
# insert your code for Vowel Count with Break Statement

## Fibonacci Number Generator
Write a program that takes an integer `limit`. Generate and print the Fibonacci sequence up to the given limit. However, if a number in the sequence exceeds 500, the program should break out of the loop and print `"Fibonacci limit exceeded!".`

Sample output 1:
```
Enter the limit: 1000
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610
Fibonacci limit exceeded!
```
Sample output 2:
```
Enter the limit: 500
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377
```

In [ ]:
# insert your code for Fibonacci Number Generator

## Letter Printer
Write a program that uses a loop to print the letters of the alphabet from 'A' to 'Z' but skips the letter `'E'`. Use `continue` keyword in the loop.

Sample output:
```
A B C D F G H I J K L M N O P Q R S T U V W X Y Z
```

In [ ]:
# insert your code for Letter Printer

## Counting Vowels in a Word
Write a program that takes a string. Use a loop to count and print the number of uppercased and lowercased vowels in the word. The program should utilize the `continue` statement to skip consonants, ensuring they are not included in the vowel count.

Sample ouput 1:
```
Enter a word: CONTINUEstatement
Number of Uppercase Vowels: 4
Number of Lowercase Vowels: 3
```

Sample output 2:
```
Enter a word: testing
Number of Uppercase Vowels: 0
Number of Lowercase Vowels: 2
```

# 7. Lists

## Prime Square
Write a Python program that takes an integer n and generates a list of n sub-lists, each containing n elements. The value of each element should be 1 if the index of that element is a prime number, and 0 otherwise.

Sample output 1:
```
Enter the value of n: 2
Prime Square:
[[0, 1], [1, 0]]
```

Sample output 2:
```
Enter the value of n: 4
Prime Square:
[[0, 1, 1, 0], [1, 0, 1, 0], [0, 0, 1, 0], [1, 0, 0, 0]]
```

In [ ]:
# insert your code for Prime Square

## List Reversal
Write a Python program that takes a list of integers as input from the user through the terminal, reverses the order of the elements in the list, and outputs the reversed list to the terminal.

Sample output 1:
```
Enter the list of integers separated by space: 5 4 3 2 1
Reversed list: [1, 2, 3, 4, 5]
```
Sample output 2:
```
Enter the list of integers separated by space: 5 1 5 1
Reversed list: [1, 5, 1, 5]
```

In [ ]:
# insert your code for List Reversal

## List Zipper Merge
Write a Python program that takes two lists of integers as input and prints a single list that alternates between the elements of the two input lists.

Sample output 1:
```
Enter first list: 1 2 3
Enter second list: 4 5 6
Merged list: [1, 4, 2, 5, 3, 6]
```

Sample output 2:
```
Enter first list: 1 1 1
Enter second list: 2 3 4
Merged list: [1, 2, 1, 3, 1, 4]
```

In [ ]:
# insert your code for List Zipper Merge

## Perfect Square List
Write a Python program that takes a list of integers as input and it should generate a list of all perfect squares in the list.

Sample output 1:
```
Enter a list of integers separated by spaces: 1 2 3 4 5 6 7 8 9 10
Perfect Squares in the List:
[1, 4, 9]
```
Sample output 2:
```
Enter a list of integers separated by spaces: 34
Perfect Squares in the List:
[]
```

In [ ]:
# insert your code for Perfect Square List

## List Rotation
Write a Python program that takes a list of integers as input and rotates the list to the right by a specified number of positions. The program should return the rotated list.

Sample output 1:
```
Enter the list of integers separated by space: 1 2 3
Enter the number of positions to rotate to the right: 2
[2, 3, 1]
```
Sample output 2:
```
Enter the list of integers separated by space: 1 2 3 4 5
Enter the number of positions to rotate to the right: 3
[3, 4, 5, 1, 2]
```
Sample output 3:
```
Enter the list of integers separated by space: 5 5 5 1 5 5 5
Enter the number of positions to rotate to the right: 4
[1, 5, 5, 5, 5, 5, 5]
```

In [ ]:
# insert your code for List Rotation

## List Intersection
Write a program that takes two lists as inputs and prints a new list containing only the common elements between the two lists. The program should print the common elements in the order they appear in the first list.

Sample output 1:
```
Enter first list of integers separated by space: 1 2 3
Enter second list of integers separated by space: 2 3 4
Common elements:  [2, 3]
```
Sample output 2:
```
Enter first list of integers separated by space: 1 2 3
Enter second list of integers separated by space: 4 5 6
Common elements:  []
```
Sample output 3:
```
Enter first list of integers separated by space: 1 2 3
Enter second list of integers separated by space: 12 3
Common elements:  [3]
```

In [ ]:
# insert your code for List Intersection

## Fibonacci Series
Write a Python program that takes a number n as input and prints a list of the first n numbers in the Fibonacci series.

Sample output 1:
```
Enter the number of terms for Fibonacci series: 5
Fibonacci Series: [0, 1, 1, 2, 3]
```
Sample output 2:
```
Enter the number of terms for Fibonacci series: 7
Fibonacci Series: [0, 1, 1, 2, 3, 5, 8]
```

In [ ]:
# insert your code for Fibonacci Series

## List Unique Elements
Write a Python program that takes a list of integers as input and returns a new list containing only the unique elements of the input list.

Sample output:
```
Enter a list of integers separated by space: 1 1 2 3 3 4
Unique elements list: [1, 2, 3, 4]
```

In [ ]:
# insert your code for List Unique Elements

## Remove Nth Element
Write a Python program that takes a list of integers and an integer n as input and removes the nth element from the list.

Sample output 1:
```
Enter the numbers separated by space: 1 2 3 4 5
Enter the index of element to remove (1-based index): 3
List after removing element: [1, 2, 4, 5]
```
Sample output 2:
```
Enter the numbers separated by space: 10 40 50 12 141 15 1568 12 13124
Enter the index of element to remove (1-based index): 5
List after removing element: [10, 40, 50, 12, 15, 1568, 12, 13124]
```

In [ ]:
# insert your code for Remove Nth Element

## List Maximum Difference
Write a Python program that takes a list of integers as input and returns the maximum difference between any two elements in the list.

Sample output 1:
```
Enter a list of integers separated by space: 1 2 3 4 5
Maximum difference between any two elements in the list: 4
```
Sample output 2:
```
Enter a list of integers separated by space: 5 10 15 20 30
Maximum difference between any two elements in the list: 25
```
Sample output 3:
```
Enter a list of integers separated by space: 1 2
Maximum difference between any two elements in the list: 1
```

In [ ]:
# insert your code for List Maximum Difference

# 8. Tuples

## Tuple Subtraction
Given two tuples `a` and `b` of the same length, create a function that returns a new tuple containing the result of subtracting each element of `b` from the corresponding element of `a`.

Sample output 1:
```
Enter the first tuple of integers: 1 2 3
Enter the second tuple of integers: 1 1 1
Tuple Subtraction Result: (0, 1, 2)
```
Sample output 2:
```
Enter the first tuple of integers: 5 10 15
Enter the second tuple of integers: 2 5 8
Tuple Subtraction Result: (3, 5, 7)
```
Sample output 3:
```
Enter the first tuple of integers: 0 0 0
Enter the second tuple of integers: 1 1 1
Tuple Subtraction Result: (-1, -1, -1)
```

In [ ]:
# insert your code for Tuple Subtraction

## Slicing Tuples
Create a tuple with the elements `(10, 20, 30, 40, 50, 60, 70, 80, 90)`. Print a slice of the tuple from the third to the seventh element.

Sample output:
```
Sliced Tuple: (30, 40, 50, 60, 70)
```

In [ ]:
# insert your code for Slicing Tuples

## Check for Element in Tuple
Create a tuple with the elements `(100, 200, 300, 400, 500)`. Ask the user to input a number and check if this number is present in the tuple. Print the result.

Sample output 1:
```
Enter a number: 100
Is the number in the tuple? True
```
Sample output 2:
```
Enter a number: -100
Is the number in the tuple? False
```

In [ ]:
# insert your code for Check for Element in Tuple

## Tuple for Tuples
Write a program that asks to input two sets of numbers separated by spaces. Create two tuples from these numbers and then create a tuple of these two tuples. Print the resulting tuple of tuples.

Sample output 1:
```
Enter first set of numbers separated by spaces: 1 5 6 7 8
Enter second set of numbers separated by spaces: 2 3 5 1 3
Tuple of Tuples: ((1, 5, 6, 7, 8), (2, 3, 5, 1, 3))
```
Sample output 2:
```
Enter first set of numbers separated by spaces: 0 1 2
Enter second set of numbers separated by spaces: -1 -2 -3
Tuple of Tuples: ((0, 1, 2), (-1, -2, -3))
```
Sample output 3:
```
Enter first set of numbers separated by spaces: 9 9 9 9
Enter second set of numbers separated by spaces: 8 8 8 8
Tuple of Tuples: ((9, 9, 9, 9), (8, 8, 8, 8))
```

In [ ]:
# insert your code for Tuple for Tuples

## Zipping Tuples
Write a program that asks to input two sets of numbers separated by spaces. Create two tuples from these numbers and zip them together to create a tuple of pairs. Print the resulting zipped tuple.

Sample output 1:
```
Enter first set of numbers separated by spaces: 213 1254 125 125 125 125
Enter second set of numbers separated by spaces: 123 125 51 25 25
Zipped Tuple: ((213, 123), (1254, 125), (125, 51), (125, 25), (125, 25))
```
Sample output 2:
```
Enter first set of numbers separated by spaces: 1 2 3 4
Enter second set of numbers separated by spaces: 1 2 3 4
Zipped Tuple: ((1, 1), (2, 2), (3, 3), (4, 4))
```
Sample output 3:
```
Enter first set of numbers separated by spaces: 1 2 3
Enter second set of numbers separated by spaces: -1 -2 -3
Zipped Tuple: ((1, -1), (2, -2), (3, -3))
```

In [ ]:
# insert your code for Zipping Tuples

## Tuple Complement
Given a tuple `a` and a number `n`, create a program that prints a new tuple containing all numbers from 1 to `n` that are not in the original tuple.

Sample output 1:
```
Enter a tuple of integers: 1 3 5 7
Enter the value of n: 10
Tuple Complement: (2, 4, 6, 8, 9, 10)
```
Sample output 2:
```
Enter a tuple of integers: 5
Enter the value of n: 8
Tuple Complement: (1, 2, 3, 4, 6, 7, 8)
```
Sample output 3:
```
Enter a tuple of integers: 1 2 3 4 5
Enter the value of n: 5
Tuple Complement: ()
```

In [ ]:
# insert your code for Tuple Complement

## Tuple Operations with Multiple Tuples
Write a program that asks to input three sets of numbers separated by spaces. Create three tuples from these numbers. Perform union and intersection operations on these tuples and print the results.

Sample output 1:
```
Enter first set of numbers separated by spaces: 1 2 3
Enter second set of numbers separated by spaces: 2 3 4
Enter third set of numbers separated by spaces: 3 4 5
Union of all three tuples: {1, 2, 3, 4, 5}
Intersection of all three tuples: {3}
```
Sample output 2:
```
Enter first set of numbers separated by spaces: 10 20 30
Enter second set of numbers separated by spaces: 20 30 40
Enter third set of numbers separated by spaces: 30 40 50
Union of all three tuples: {50, 20, 40, 10, 30}
Intersection of all three tuples: {30}
```
Sample output 3:
```
Enter first set of numbers separated by spaces: 5 10 15
Enter second set of numbers separated by spaces: 10 15 20
Enter third set of numbers separated by spaces: 15 20 25
Union of all three tuples: {20, 5, 25, 10, 15}
Intersection of all three tuples: {15}
```

In [ ]:
# insert your code for Tuple Operations with Multiple Tuples

## Finding Common Elements in Multiple Tuples
Write a program that asks to input three sets of numbers separated by spaces. Create three tuples from these numbers. Find and print the common elements among all three tuples.

Sample output 1:
```
Enter first set of numbers separated by spaces: 2 4 6 8
Enter second set of numbers separated by spaces: 4 6 8 10
Enter third set of numbers separated by spaces: 6 8 10 12
Common elements in all three tuples: {8, 6}
```
Sample output 2:
```
Enter first set of numbers separated by spaces: 3 6 9
Enter second set of numbers separated by spaces: 6 9 12
Enter third set of numbers separated by spaces: 9 12 15
Common elements in all three tuples: {9}
```
Sample output 3:
```
Enter first set of numbers separated by spaces: 1 1 2 3 5
Enter second set of numbers separated by spaces: 1 2 3 5 8
Enter third set of numbers separated by spaces: 1 3 5 7 9
Common elements in all three tuples: {1, 3, 5}
```

In [ ]:
# insert your code for Finding Common Elements in Multiple Tuples

## Tuple Median
Write a Python program that takes a tuple containing integers as input and prints the median value of the elements in the tuple.

Sample output 1:
```
Enter a tuple of integers: 11 13 15 17 19 21
Tuple Median: 16.0
```
Sample output 2:
```
Enter a tuple of integers: 10 20 30 40 67
Tuple Median: 30.0
```
Sample output 3:
```
Enter a tuple of integers: 1 2 3 4 5
Tuple Median: 3.0
```

In [ ]:
# insert your code for Tuple Median

## Finding the Length of a Tuple
Write a program that asks to input several elements separated by spaces. Create a tuple from these elements and print the length of the tuple.

Sample output:
```
Enter elements separated by spaces: 1 2 3 4 5 6
Length of Tuple: 6
```

In [ ]:
# insert your code for Finding the Length of a Tuple

# 9. Sets

## Adding Elements
Write a program that adds the element 6 to the set `{1, 2, 3, 4, 5}` and print the result.

Sample output:
```
Initial set: {1, 2, 3, 4, 5}
Final set: {1, 2, 3, 4, 5, 6}
```

In [ ]:
# insert your code for Adding Elements

## Common Elements
Write a program that has sets, `A = {1, 2, 3, 4}`, `B = {3, 4, 5, 6}`, and `C = {4, 5, 6, 7}`, print the sets and find the common elements present in all three sets, and print the result.

Sample output:
```
A: {1, 2, 3, 4}
B: {3, 4, 5, 6}
C: {4, 5, 6, 7}
Common elements in all three sets: {4}
```

In [ ]:
# insert your code for Common Elements

## Set Equality

Write a program that takes two sets as input and prints `"The sets are equal"` if they are equal (i.e., have the same elements), otherwise, `it prints "The sets are not equal".`

Sample output 1:
```
Enter the first set: 1 2 3
Enter the second set: 3 1 2
The sets are equal
```
Sample output 2:
```
Enter the first set: 1 4 3
Enter the second set: 2 1 4
The sets are not equal
```

In [ ]:
# insert your code for Set Equality

## Iterate Over Set

Write a program that has a set with elements from numbers 1 to 5. Print the set first, then print the elements of the set each separated by a newline.

Sample output:
```
The set is: {1, 2, 3, 4, 5}
Elements of the set:
1
2
3
4
5
```

In [ ]:
# insert your code for Iterate Over Set

## Set Cardinality with Duplicates

Write a Python program that takes a set as input and prints the cardinality of the resulting set. Given a list of integers, remove duplicates and print the cardinality of the resulting set.

Sample output 1:
```
Enter a list of integers separated by space: 1 1 1 1 1 1
The cardinality of the set formed by removing duplicates from [1, 1, 1, 1, 1, 1] is 1.
```
Sample output 2:
```
Enter a list of integers separated by space: 1 2 3 4 4 5
The cardinality of the set formed by removing duplicates from [1, 2, 3, 4, 4, 5] is 5.
```
Sample output 3:
```
Enter a list of integers separated by space: 1
The cardinality of the set formed by removing duplicates from [1] is 1.
```

In [ ]:
# insert your code for Set Cardinality with Duplicates

## Subset Check
Write a program that asks for two sets. Ask for the element of the set in one line and elements separated by spaces. Check if the first set is a subset of the second set and print the result.

Sample output 1:
```
Enter elements of the first set: 1 2
Enter elements of the second set: 1 2 3
Result: True
```
Sample output 2:
```
Enter elements of the first set: 5 10 15 20 25 30
Enter elements of the second set: 5 10 15 20 25 30 35 40 45
Result: True
```
Sample output 3:
```
Enter elements of the first set: -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
Enter elements of the second set: 1 2 3 4 5 6 7 8 9 10
Result: False
```

In [ ]:
# insert your code for Subset Check

## Set Is Subset of Any Set
Write a Python program that takes in a set and a list of sets and prints `"Input set is a subset of at least one set in the list."` if the set is a subset of any of the sets in the list, otherwise, print `"Input set is not a subset of any set in the list."`

Sample output 1:
```
Enter the number of sets in the list: 4
Enter set 1, separated by spaces: 1 2
Enter set 2, separated by spaces: 3 4
Enter set 3, separated by spaces: 5 6
Enter set 4, separated by spaces: 7 8
Enter a set of integers, separated by spaces: 3 4
Input set is a subset of at least one set in the list.
```
Sample output 2:
```
Enter the number of sets in the list: 2
Enter set 1, separated by spaces: 1 2 3 4 5
Enter set 2, separated by spaces: 6 7 8 9 10
Enter a set of integers, separated by spaces: 10 6
Input set is a subset of at least one set in the list.
```
Sample output 3:
```
Enter the number of sets in the list: 3
Enter set 1, separated by spaces: 1 2 3
Enter set 2, separated by spaces: 4 5 6
Enter set 3, separated by spaces: 7 8 9
Enter a set of integers, separated by spaces: 1 4 7
Input set is not a subset of any set in the list.
```

In [ ]:
# insert your code for Set Is Subset of Any Set

## Union and Intersection
Write a program that asks for two sets. Ask for the element of the set in one line and elements separated by spaces. Calculate and print the union and intersection of these sets.

Sample output 1:
```
Enter elements of the first set: 1 2 3 4 5 6 7 8 9 10
Enter elements of the second set: 5 6 7 8 9 10 11 12 13 14 15
Union: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
Intersection: {5, 6, 7, 8, 9, 10}
```
Sample Output 2:
```
Enter elements of the first set: 1 1 2 2 3 3
Enter elements of the second set: 3 3 4 4 5 5
Union: {1, 2, 3, 4, 5}
Intersection: {3}
```
Sample output 3:
```
Enter elements of the first set: -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
Enter elements of the second set: 1 2 3 4 5 6 7 8 9 10
Union: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1}
Intersection: set()
```

In [ ]:
# insert your code for Union and Intersection

## Union and Intersection with Product
Write a program to input two sets of integers. Calculate and print the union and intersection of these sets. Also, print the product of the union and the intersection sets.

Sample output 1:
```
Enter elements of the first set: 1 2 3 4 5 6 7 8 9 10
Enter elements of the second set: 5 6 7 8 9 10 12
Union: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12}
Intersection: {5, 6, 7, 8, 9, 10}
Product of Union: 43545600
Product of Intersection: 151200
```
Sample output 2:
```
Enter elements of the first set: 2 1 3
Enter elements of the second set: 5 1 2
Union: {1, 2, 3, 5}
Intersection: {1, 2}
Product of Union: 30
Product of Intersection: 2
```
Sample output 3:
```
Enter elements of the first set: 1 0 -1 -2
Enter elements of the second set: 0 1 2 3
Union: {0, 1, 2, 3, -2, -1}
Intersection: {0, 1}
Product of Union: 0
Product of Intersection: 0
```

In [ ]:
# insert your code for Union and Intersection with Product

## Symmetric Difference and Subset Check
Write a program that asks for two sets. Ask for the element of the set in one line and elements separated by spaces. Calculate and print the symmetric difference of these sets. Then, check if the first set is a subset of the second set and print the result.

Sample output 1:
```
Enter elements of the first set: 50 45 40 35 30 25 20 15 10 5
Enter elements of the second set: 25 20 15 10 5 0 -5 -10 -15 -20
Symmetric difference: {0, 35, 40, -20, 45, -15, 50, -10, -5, 30}
Is subset: False
```
Sample output 2:
```
Enter elements of the first set: 10 20 30 40 50 60 70 80 90 100
Enter elements of the second set: 30 40 50 60 70 80 90
Symmetric difference: {100, 10, 20}
Is subset: False
```
Sample output 3:
```
Enter elements of the first set: 50 90 60 40
Enter elements of the second set: 50 90 100 60 150 40 200 250
Symmetric difference: {100, 200, 250, 150}
Is subset: True
```

In [ ]:
# insert your code for Symmetric Difference and Subset Check

# 10. Dictionaries

## Show Me All Your Keys!

A dictionary is initialized with key-value pairs as shown below.
```
capital_city = {
    "Philippines": "Manila",
    "Japan": "Tokyo",
    "Italy": "Rome",
    "England": "London",
}
```
Get and print all the keys of the dictionary (one per line).

Sample Output 1:
```
Philippines
Japan
Italy
England
```

In [ ]:
# insert your code for Show Me All Your Keys!

## How Many Words are in your Dictionary?
A dictionary is initialized with key-value pairs as shown below.
```
numbers = {
    1: "One",
    2: "Two",
    3: "Three",
    4: "Four"
}
```
Print its length on the next line using the proper built-in function available.

Sample output:
```
Length of dictionary: 4
```

In [ ]:
# insert your code for How Many Words are in your Dictionary?

## Updating Dictionaries

A dictionary is initialized with key-value pairs in the code editor.

Ask the user for a new value and update the value in the key `'key_1'` with the inputted value.

Print the updated dictionary on the next line after.

Sample output 1:
```
Enter a new value for key_1: 3
{'key_0': 4, 'key_1': 3, 'key_2': 7, 'key_3': 1, 'key_4': 5, 'key_5': 10}
```
Sample output 2:
```
Enter a new value for key_1: 100
{'key_0': 4, 'key_1': 100, 'key_2': 7, 'key_3': 1, 'key_4': 5, 'key_5': 10}
```
Sample output 3:
```
Enter a new value for key_1: 232
{'key_0': 4, 'key_1': 232, 'key_2': 7, 'key_3': 1, 'key_4': 5, 'key_5': 10}
```

In [ ]:
# insert your code for Updating Dictionaries

## Did You Find My Key?

A dictionary is initialized with key-value pairs as shown below.

```
person_details = {
    "name": "Cody",
    "age": "4",
    "color": "blue",
    "nickname": "Chum"
}
```

Ask the user for a string input and check if that input exists as a key in the dictionary.

Print `"The {key} exists in the dictionary."` if it exists, otherwise print `"The {key} does not exist in the dictionary."` on the next line.

Sample output 1:
```
Enter a key: name
The name exists in the dictionary.
```
Sample output 2:
```
Enter a key: eye_color
The eye_color does not exist in the dictionary.
```
Sample output 3:
```
Enter a key: color
The color exists in the dictionary.
```

In [ ]:
# insert your code for Did You Find My Key?

## Unique Words Counter

Write a program that takes a sentence as input and counts the number of unique words in the sentence using a dictionary.

Sample output 1:
```
Enter a sentence: The quick brown fox jumps over the lazy dog.
Number of unique words: 8
```
Sample output 2:
```
Enter a sentence: Hello world, hello to you!
Number of unique words: 4
```

In [ ]:
# insert your code for Unique Words Counter

## Dictionary Sorter
Write a program that takes a dictionary as input and sorts it by the values in ascending order. Taking input from the user and considering whether it would be lowercase or uppercase. if `'done'` is inputted it would stop asking for input from the user and then print the sorted version of the dictionary.

Sample output 1:
```
Enter dictionary items (key-value pairs). Enter 'done' to finish.
Key: h
Value: 5
Key: e
Value: 1
Key: l
Value: 2
Key: done
Sorted dictionary:
e: 1
l: 2
h: 5
```
Sample output 2:
```
Enter dictionary items (key-value pairs). Enter 'done' to finish.
Key: c
Value: 2
Key: o
Value: 8
Key: d
Value: 9
Key: e
Value: 1
Key: done
Sorted dictionary:
e: 1
c: 2
o: 8
d: 9
```

In [ ]:
# insert your code for Dictionary Sorter

##  Dictionary Key Value Product
Write a function that takes a dictionary of integers as input and returns the product of the keys and values in the dictionary. For example, if the input dictionary is `{1: 2, 3: 4, 5: 6}`, the output should be `720` since `(1*2*3*4*5*6)=720`.

Sample output 1:
```
Enter dictionary values in format key:value,key:value,...
1:2, 3:4, 5:6
Product of key-value pairs in the dictionary is: 720
```
Sample output 2:
```
Enter dictionary values in format key:value,key:value,...
2:4, 4:6, 8:10
Product of key-value pairs in the dictionary is: 15360
```
Sample output 3:
```
Enter dictionary values in format key:value,key:value,...
1:1, 2:2, 3:3
Product of key-value pairs in the dictionary is: 36
```

In [ ]:
# insert your code for Dictionary Key Value Product

## Dictionary Key Search and Sort

Write a program that takes a dictionary as input, prompts the user to search for a key, and if found, sorts the values associated with that key in alphabetical order.


Three Dictionaries are needed:

1. Fruits
  1. banana
  2. apple
  3. orange
2. Vegetable
  1. carrot
  2. celery
  3. broccoli
3. Meat
  1. chicken
  2. beef
  3. pork

Sample output 1:
```
Enter a key to search for: Fruit
Values associated with key 'fruit' in alphabetical order:
apple
banana
orange
```
Sample output 2:
```
Enter a key to search for: vegetable
Values associated with key 'vegetable' in alphabetical order:
broccoli
carrot
celery
```
Sample output 3:
```
Enter a key to search for: meats
Key 'meats' not found in dictionary.
```

In [ ]:
# insert your code for Dictionary Key Search and Sort

## Anagram Checker
Write a program that takes two words as input and determines whether they are anagrams of each other using dictionaries.

Sample output 1:
```
Enter first word: bored
Enter second word: robed
The words are anagrams of each other.
```
Sample output 2:
```
Enter first word: hello
Enter second word: ello
The words are not anagrams of each other.
```
Sample output 3:
```
Enter first word: BELow
Enter second word: elbow
The words are anagrams of each other.
```

In [ ]:
# insert your code for Anagram Checker

## Currency Converter
Create a program that allows the user to convert between different currencies using a dictionary that contains conversion rates. The program should ask the user to enter an amount in one currency, then ask for the target currency, and output the converted amount. The conversion rates should be stored in a dictionary, where the keys are the currency codes (e.g., USD, EUR, GBP) and the values are the conversion rates.
Conversion rates:

* USD - 1.00
* EUR - 0.84
* GBP - 0.72
* JPY - 109.98
* AUD - 1.33
* CAD - 1.26
* CHF - 0.92
* CNY - 6.46
* HKD - 7.76
* NZD - 1.43

Sample output 1:
```
Enter the amount: 123
Enter the source currency code (USD, EUR, GBP, JPY, AUD, CAD, CHF, CNY, HKD, NZD): hkd
Enter the target currency code (USD, EUR, GBP, JPY, AUD, CAD, CHF, CNY, HKD, NZD): usd
123.00 HKD = 15.86 USD
```
Sample output 2:
```
Enter the amount: 421
Enter the source currency code (USD, EUR, GBP, JPY, AUD, CAD, CHF, CNY, HKD, NZD): chf
Enter the target currency code (USD, EUR, GBP, JPY, AUD, CAD, CHF, CNY, HKD, NZD): nzd
421.00 CHF = 640.22 NZD
```
Sample output 3:
```
Enter the amount: 1
Enter the source currency code (USD, EUR, GBP, JPY, AUD, CAD, CHF, CNY, HKD, NZD): ssd
Invalid source currency code.
```

In [ ]:
# insert your code for Currency Converter

# 11. Functions

## X plus Y Function
Write a program that includes a `function`, as specified in the minimum requirements, that asks for two integer numbers, x, and y. Then, add y to x, and assign it to x using the `+=` operator. The function will return x after the assignment. In the main function, call the created function and print the returned value.

Sample output 1:
```
Enter x: 10
Enter y: 5
Result: 15
```
Sample Output 2
```
Enter x: 33
Enter y: 3
Result: 36
```
Sample Output 3
```
Enter x: 1
Enter y: 1
Result: 2
```

In [ ]:
# insert  your code for X plus Y Function

## Area of a Circle

Write a program that includes a `function`, as specified in the minimum requirements, that calculates and returns the area of a circle with a radius entered by the user. The function should take no parameters but should prompt the user to enter a radius. In the main function, call the created function and print the returned value.

Sample Output 1
```
Enter the radius of the circle: 2
Area of Circle: 12.57
```
Sample output 2:
```
Enter the radius of the circle: 56
Area of Circle: 9852.03
```
Sample output 3:
```
Enter the radius of the circle: 6
Area of Circle: 113.10
```

In [ ]:
# insert your code for Area of a Circle

## Perimeter of Circle Section
Write a program that includes a `function`, as specified in the minimum requirements, that asks the user to input the radius and arc length of the circle. The function then calculates and returns the perimeter of a circle sector using the formula `perimeter = 2 * radius + arcLength`. In the main function, call the created function and print the returned value.

Sample output 1:
```
Enter the radius of the circle sector: 5.5
Enter the arc length of the circle sector: 12.2
Perimeter of the circle sector: 23.20
```
Sample output 2:
```
Enter the radius of the circle sector: 10
Enter the arc length of the circle sector: 33.3
Perimeter of the circle sector: 53.30
```
Sample output 3:
```
Enter the radius of the circle sector: 12.12
Enter the arc length of the circle sector: 13.13
Perimeter of the circle sector: 37.37
```

In [ ]:
# insert your code for Perimeter of Circle Section

## Maximum Value
Write a program that includes a `function`, as specified in the minimum requirements, that takes two integer values as parameters and returns the maximum value. In the main function, ask for two integer inputs, then call the created function using the inputs, get the returned value, and print the said value.

Sample Output 1
```
Enter two integers:
14
12
The maximum value is 14
```
Sample Output 2
```
Enter two integers:
56
15651
The maximum value is 15651
```
Sample Output 3
```
Enter two integers:
465
124
The maximum value is 465
```

In [ ]:
# insert your code for Maximum Value

## Reverse String
Write a program that includes a `function`, as specified in the minimum requirements, that takes a string as a parameter and returns the reversed string. In the main function, ask for a string input, then call the created function using the input, get the returned value, and print the said value.

Sample Output 1
```
Enter a string: This is a sample string.
The reversed string is:
.gnirts elpmas a si sihT
```
Sample Output 2
```
Enter a string: CodeChum is awesome.
The reversed string is:
.emosewa si muhCedoC
```
Sample Output 3
```
Enter a string: Hello, World!
The reversed string is:
!dlroW ,olleH
```

In [ ]:
# insert your code for Reverse String

## Kelvin to Celsius

Write a program that includes a `function`, as specified in the minimum requirements, that takes a double precision floating-point argument - `kelvin`. It converts the temperature from Kelvin to Celsius using the conversion formula: `Celsius = Kelvin - 273.15`, and returns the converted temperature in double data type. In the main function, ask for the kelvin input, then call the created function using the input, get the returned value, and print the said value.

Sample Output 1
```
Enter the temperature in Kelvin: 432
Temperature in Celsius: 158.85
```
Sample Output 2
```
Enter the temperature in Kelvin: 273
Temperature in Celsius: -0.15
```
Sample Output 3
```
Enter the temperature in Kelvin: 2752
Temperature in Celsius: 2478.85
```

In [ ]:
# insert your code for Kelvin to Celsius

## Volume Conversion and Total Volume
Write a program that includes three `functions`, as specified in the minimum requirements. The following are the function details:

* Convert Liters to Milliliters: This function takes a double precision floating-point argument - `'liters'`. It converts the volume from liters to milliliters using the conversion factor:
`1 liter = 1000 milliliters` and returns the converted value in milliliters (double).
* Convert Cubic Meters to Cubic feet: This function takes a double precision floating-point argument - `cubicMeters`. It converts the volume from cubic meters to cubic feet using the conversion factor: `1 cubic foot = 0.0283168 cubic meters` and returns the converted value in cubic feet (double).
* Calculate Total Volume: This function takes two double precision floating-point arguments - `millilitersValue` and `cubicFeetValue`. It calculates the total volume by summing the converted milliliters and cubic feet values and returns the result (double).


In the main function, ask for two double values, `liters` and `cubicMeters`, then use the functions convert liters to milliliters, convert cubic meters to cubic feet, and calculate total volume functions with their respective results printed. The returned values of convert liters to milliliters and convert cubic meters to cubic feet functions are used in calculate total volume function.

Sample Output 1:
```
Enter volume in liters: 100.55
Enter volume in cubic meters: 23.56
Converted Value in Milliliters: 100550.00 ml
Converted Value in Cubic Feet: 832.01 cubic feet
Total Volume: 101382.01
```
Sample Output 2
```
Enter volume in liters: 556.86
Enter volume in cubic meters: 5.77
Converted Value in Milliliters: 556860.00 ml
Converted Value in Cubic Feet: 203.77 cubic feet
Total Volume: 557063.77
```
Sample Output 3
```
Enter volume in liters: 34.5
Enter volume in cubic meters: 667.8
Converted Value in Milliliters: 34500.00 ml
Converted Value in Cubic Feet: 23583.17 cubic feet
Total Volume: 58083.17
```

In [ ]:
# insert your code for Volume Conversion and Total Volume

## Even Numbers

Write a program that includes a `function`, as specified in the minimum requirements, that prints out all even numbers from `1` to `N`. In the main function, call the created function.

Sample Output 1
```
Enter a number: 6
2
4
6
```
Sample Output 2
```
Enter a number: 20
2
4
6
8
10
12
14
16
18
20
```
Sample Output 3
```
Enter a number: 41
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
```

In [ ]:
# insert your code for Even Numbers

## Expression Evaluation

Write a program that includes a `function`, as specified in the minimum requirements, which does not return anything and takes four double arguments - `'a', 'b', 'c',` and `'d'`. It evaluates the expression `(a + b) * (c - d) / (b + c)` and displays the result. In the main function, ask for `a, b, c` and `d` then call the created function by passing the inputs.

Sample Output 1
```
Enter a: -5.2
Enter b: 3.5
Enter c: 6.6
Enter d: 2.8
Result of expression: -0.64
```
Sample Output 2
```
Enter a: 2.2
Enter b: 6.4
Enter c: 3.3
Enter d: -6.6
Result of expression: 8.78
```
Sample Output 3
```
Enter a: 8.8
Enter b: 2.2
Enter c: 5.5
Enter d: 8
Result of expression: -3.57
```

In [ ]:
# insert your code for Expression Evaluation

## Invoice Generator
Write a program that includes a `function`, as specified in the minimum requirements, that takes no arguments. Inside this function, prompt the user to enter the following details:
* Customer Name
* Product Name
* Quantity
* Price per Item in Decimal
* Total Amount

Display an invoice containing all the collected information in the format:
```
Invoice:
Customer: [Customer]
Product: [Product]
Quantity: [Quantity]
Price: [Price]
Total: [Total]
```

In the main function, call the created function.

Sample Output 1
```
Enter Customer Name: Xianrin
Enter Product Name: Gooba
Enter Quantity: 250
Enter Price: 5
Invoice:
Customer: Xianrin
Product: Gooba
Quantity: 250
Price: 5.00
Total: 1250.00
```
Sample Output 2
```
Enter Customer Name: Yula
Enter Product Name: Pines
Enter Quantity: 100000
Enter Price: 5
Invoice:
Customer: Yula
Product: Pines
Quantity: 100000
Price: 5.00
Total: 500000.00
```
Sample Output 3
```
Enter Customer Name: Forinna
Enter Product Name: Dessert
Enter Quantity: 250
Enter Price: 3
Invoice:
Customer: Forinna
Product: Dessert
Quantity: 250
Price: 3.00
Total: 750.00
```

In [ ]:
# insert your code for Invoice Generator

---
# *End of Laboratory Exercises. Nothing follows.*